page-welcome {
    #welcome{
        background-color: rgb(41, 40, 40);
        h1, div{
            text-align: center;
        }
        .description{
            margin-top: 100px;
            margin-bottom: 75px;
            color: rgb(163, 163, 163)
        }
        .button{
            color: whitesmoke;
           padding-bottom: 15px;
        }
        .logo{
            margin-top: 150px;
        }
    }
}
